body{
  margin:0;
  text-align:center;
  font-family: Verdana;
  background:#f5f5f5;
}

h1 {
  text-align:center;
}
.container {
  width:90%;
  margin:0 auto;
}
input[type="radio"] {
    display:none;
}

iframe
{
width:50%;
height:900px;
display:block;
margin:0 auto;
}

label {
  width:23%;
  float:left;
  text-align:center;
  background:#ffffff;
  color:#222222;
  padding:0.5%;
  margin:0.5%;
  margin-bottom:30px;
  cursor:pointer;
}
input[type="radio"][id="blue"]:checked + label {
  background:#6666ff;
}

input[type="radio"][id="blue"]:checked ~ .red, input[type="radio"][id="blue"]:checked ~ .green, input[type="radio"][id="blue"]:checked ~ .yellow {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}
input[type="radio"][id="red"]:checked + label {
  background:#ff4466;
}
input[type="radio"][id="red"]:checked ~ .blue, input[type="radio"][id="red"]:checked ~ .green, input[type="radio"][id="red"]:checked ~ .yellow {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

input[type="radio"][id="yellow"]:checked + label {
    background:yellow;
  }

  input[type="radio"][id="yellow"]:checked ~ .red, input[type="radio"][id="yellow"]:checked ~ .green, input[type="radio"][id="yellow"]:checked ~ .blue {
    width:0;
    height:0;
    padding:0;
    margin:0;
    opacity:0;
  }


input[type="radio"][id="green"]:checked + label {
  background:#66dd99;
}

input[type="radio"][id="green"]:checked ~ .blue, input[type="radio"][id="green"]:checked ~ .red, input[type="radio"][id="green"]:checked ~ .yellow {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

.tile {
  width:23%;
  height:70px;
  float:left;
  transition:all 1s;
  padding-top: 40px;;
  margin:0.5%;
}


.green {
  background:#66dd99;
}
.blue {
  background:#6666ff;
}
.red {
  background:#ff4466;
}

.yellow
{
    background: yellow;
}

a:link {
    text-decoration: none;

  }
  a:visited {
    text-decoration: none;
    color: #000000;
  }
  a:hover {
    text-decoration: underline;
  }
